<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
    <!--header of the body-->
    <header>
        <!--image is added which is the logo-->
        <img src="images/8.png" alt="Coffee logo">
        <!--headings added with different size-->
        <h1>Its Coffee Time</h1>
        <h3>More Expresso , Less Depresso</h3>
        <%- include('layouts/nav'); -%>
    </header>
    <!--main part of the body-->
<main>
    <!--main with section which has 8 divisions for different images-->
    <section>
        <form action="gallery" method="POST">
        <!--div with images and link attached to it so customer can click on image and directlt go to shop page-->
        <div class="gallery">
            <a href ="/product"><img src="/images/cuppuccino1.jpg" alt="Cuppuccino gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/cuppuccino2.jpg" alt="Cuppuccino gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/cuppuccino3.jpg" alt="Cuppuccino gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/expresso1.jpg" alt="Expresso gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/expresso2.jpg" alt="Expresso gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/expresso3.jpg" alt="Expresso gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/americano1.jpg" alt="Americano gallery - coffee"></a>
        </div>
        <div class="gallery">
            <a href ="/product"><img src="/images/americano2.jpg" alt="Americano gallery - coffee"></a>
        </div>
    </form>
    </section>

</main>
</body>
<%- include('layouts/footer'); -%>
